{% extends 'base.html' %}

{% block content %}

  <div class="imgcontainer">

  </div>

  <div class="container">
  <a  href="{% url 'social:begin' 'github' %}"><button style="background-color: #444444;" type="submit">Login with GitHub</button></a><br>
  <a  href="{% url 'social:begin' 'twitter' %}"><button style="background-color: #55ACEE;" type="submit">Login with Twitter</button></a><br>
  <a  href="{% url 'social:begin' 'facebook' %}"><button style="background-color: #3B5998;" type="submit">Login with Facebook</button></a>


      </div>

  <div class="container" style="background-color:lightblue">


  </div>



{% endblock %}
