{% extends 'base.html' %}

{% block content %}

  <div class="imgcontainer">

  </div>

  <div class="container">
  <a  href="{% url 'social:begin' 'github' %}"><button class="btn-github" type="submit">Login with GitHub</button></a><br>
  <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}"><span class="fa fa-twitter"></span> Sign in with Twitter</a><br>
  <a  href="{% url 'social:begin' 'facebook' %}"><button class="btn-facebook" type="submit">Login with Facebook</button></a>

      </div>

  <div class="container" style="background-color:lightblue">


  </div>



{% endblock %}
