{% extends 'base.html' %}

{% block content %}

<form>
  <div class="imgcontainer">
  <h2>In-Store</h2>
  </div>

  <div class="container">
  <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'github' %}"><button type="submit">Login with GitHub</button><span class="fa fa-twitter"></span></a><br>
  <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'twitter' %}"><button type="submit">Login with Twitter</button><span class="fa fa-twitter"></span></a><br>
  <a class="btn btn-block btn-social btn-twitter" href="{% url 'social:begin' 'facebook' %}"><button type="submit">Login with Facebook</button><span class="fa fa-twitter"></span></a>

      <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:lightblue">
    <button type="button" class="cancelbtn">log out</button>
    <span class="psw">Forgot <a href="#">password?</a></span>

  </div>
</form>


    </body>
{% endblock %}
