<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>{{ hash }}</h2>

    <ul>
        {% for tweet in hash.tweet_set.all %}
            <li>{{ tweet.username }} - {{ tweet.text }} - ( {{ tweet.rate }} )</li>
        {% endfor %}
    </ul>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzer - Coen 691</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>{{ query }}</h1>
{% if all_hashtag %}
    <h3>Previously searched Hashtags</h3>
    <ul>
        {% for hashtag in all_hashtag %}
            <li><a href="{% url 'main:hashdet' hashtag.name %}">{{ hashtag.name }}</a> </li>
        {% endfor %}
    </ul>
{% else %}
<h2> No Hashtag found in the database </h2>
{% endif %}
<form method="GET" action="" >
<input id= "searchbar" type="text" name="q" placeholder="Search Hashtags"/>
<input type="submit" value="Search"/>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- If IE use the latest rendering engine -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Set the page to the width of the device and set the zoon level -->
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <title>#Analyzer - COEN691</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <style>
.jumbotron{
    background-color:#2E2D88;
    color:white;
}
/* Adds borders for tabs */
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}
.nav-tabs {
    margin-bottom: 0;
}
</style>
</head>

<body >
<div class="container">
    <button class="btn btn-primary">Analyze</button>
<div class="jumbotron">
    <p>shahab joon</p>
</div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>

