{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In-Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<<body>
{% block content %}
  <h2>In-Store</h2>
  <p>Hello, {{ user.username }}!</p>


    <form type="get" action="." style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." ></br>
    <input id="zipcode"  type ="text"  name="zipcode" placeholder="enter postal code"/></br>
    <button id="search_submit" type="submit" >Submit</button>
</form>
    <p></p>
    <p>As a retailer:</p>
<form type="get" action="." style="...">

    <input  id="retail_store" type="text" name="retail_store"  placeholder="Enter name of store " ></br>
    <input  id="retail_description" type="text" name="retail_description"  placeholder="Enter description of your product " ></br>
    <input  id="retail_price" type="text" name="retail_price"  placeholder="Enter price " ></br>
    <input id="zipcode_retail"  type ="text"  name="zipcode_retail" placeholder="enter postal code"/></br>
    <button id="retail_submit" style= "background-color:#CB2027;" type="submit" >Register your product</button>
</form>

{% endblock %}
</body>
</html>



