{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>In-Store</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<body>
{% block content %}
  <h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p>

<form method="GET" action="" >
<input id= "searchbar" type="text" name="q" placeholder="Search products"/>
<input type="submit" value="Search"/>
</form>
<h1>{{ query }}</h1>

</body>
</html>
{% endblock %}


